In [1]:
#import library
import pandas as pd
import numpy as np

In [2]:
#creating a dataframe
df=pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])

In [3]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
#applying the transform function
df.transform(func = lambda x : x * 10)

    a   b   c
0  10  20  30
1  40  50  60
2  70  80  90

# Approach 1: Using Groupby followed by merge():
## Step1: Import the libraries and read the dataset

In [ ]:
import pandas as pd 
df=pd.read_csv(“purchase.csv”)  #Can be any csv of your choice.

## Step2: Use groupby to calculate the aggregate

In [ ]:
df.groupby('User_ID')["Purchase"].mean()

## Step3: Using merge() function to recombine

In [ ]:
mean_purchase =df.groupby('User_ID')["Purchase"].mean().rename("User_mean").reset_index() 
df_1 = df.merge(mean_purchase)

# Approach 2: Using Python’s Transform Function

In [ ]:
df["User_Mean"] = df.groupby('User_ID')["Purchase"].transform('mean')

# Difference Between Apply And Transform Function in Python

In [5]:
df['d'] = df.apply(lambda row: row.a + row.b + row.c, axis=1)
df

   a  b  c   d
0  1  2  3   6
1  4  5  6  15
2  7  8  9  24